.logo{
    width: 75px;
    height:60px;
}
.margin{
    margin-left: 0;
}
.cover{
    width:1400;
    height:300;
}
.profilepic{
    position: relative;  
    top: -50px; 
    width:180px;
    height: 180px;
}

.profile-panel{
    position: relative;
    top:-20;
    margin-left: 290px;
}
.edit-profile{
    position: relative;
    top:-45px;
    margin-left:32;
}
.nav-item{
    width:40%;
}
.signout{
    position: relative;
    margin-left:1160;
}